<%= form_for @grade, method: :put do |f| %>
  <%= f.hidden_field :student_id, value: params[:student_id] %>
  <%= f.hidden_field :subject_id, value: params[:subject_id] %>
  <%= f.hidden_field :obtained_date, value: @grade.obtained_date %>
  <%= f.hidden_field :user_id, value: @grade.user.id %>
  <div class="modal-header">
    <h5 class="modal-title" id="editGradeLabel">Zmień ocenę</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Cofnij">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label "Wybierz ocenę", class: 'gradeSelect' %>
      <%= f.select(:grade, %w(1 -2 2 +2 -3 3 +3 -4 4 +4 -5 5 +5 6), {},
                   class: 'form-control', id: 'gradeSelect') %>
    </div>
    <div class="form-group">
      <%= f.label :info, "Wybierz typ oceny", class: 'gradeSelect' %>
      <%= f.select(:info, %w(Sprawdzian Kartkówka), {},
                   {class: 'form-control', id: 'gradeTypeSelect'}) %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cofnij</button>
    <%= f.submit(value: "Zmień ocenę", class: 'btn btn-primary', 'data-disable-with': "Edytuję...", method: :post) %>
  </div>
<% end %>