<%= form_for @grade, method: :put do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="editGradeLabel">Zmień ocenę</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Cofnij">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label "Wybierz ocenę", class: 'gradeSelect' %>
      <%= f.select(:grade, Grade.get_grades.keys, {},
                   class: 'form-control', id: 'gradeSelect') %>
    </div>
    <div class="form-group">
      <%= f.label :info, "Wybierz typ oceny", class: 'gradeSelect' %>
      <%= f.select(:info, Grade.get_grade_info, {},
                   {class: 'form-control', id: 'gradeTypeSelect'}) %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cofnij</button>
    <%= f.submit(value: "Zmień ocenę", class: 'btn btn-primary', 'data-disable-with': "Edytuję...", method: :post) %>
  </div>
<% end %>