<% content_for :title, "e-Dziennik - Strona główna" %>
<div class="container-fluid">
  <div class="container container-radius container-shadow container-padding-small bg-light">
    <% if current_user.nil? %>
      <h1 class="font-weight-light text-center">Witaj w usłudze elektronicznego dziennika</h1>
      <p>Usługa oferuje to i tamto</p>
    <% else %>
      <h2 class="float-left font-weight-light">Strona główna</h2>
      <ul class="container-header float-right">
        <li class="container-header">
          <h4 class="font-weight-light">Zalogowano jako
            <kbd class="badge-dark">
              <%= current_user.firstName + " " + current_user.lastName %>
            </kbd>
          </h4>
        </li>
      </ul>
      <div class="container content-container">
        <h5 class="font-weight-light">Akcje</h5>
        <%= link_to "Twój profil", user_profile_url(current_user.id),
                    class: 'float-left col-2 feature feature-profile container-radius' %>
        <% case current_user.user_type_id %>
        <% when 1 %>
          <%= link_to "Lista klas", groups_path, class: 'float-left col-2 feature feature-class container-radius' %>
          <%= link_to "Lista przedmiotów", subjects_path, class: 'float-left col-2 feature feature-subject container-radius' %>
          <%= link_to "Lista nauczycieli", users_path, class: 'float-left col-2 feature feature-teacher container-radius' %>
          <a role="button" class="float-left col-2 feature feature-student container-radius" href="admin-uczniowie.html">Lista
            uczniów</a>
          <%= link_to "Dodaj użytkownika", new_user_path, class: 'float-left col-2 feature feature-user container-radius' %>
        <% when 2 %>
          <%= link_to "Zajęcia", user_url(current_user), class: 'float-left col-2 feature feature-timetable container-radius' %>
        <% when 3 %>
          <%= link_to "Oceny", student_grades_url(current_user), class: 'float-left col-2 feature feature-grade container-radius' %>
          <%= link_to "Dziennik uwag", student_notes_url(current_user), class: 'float-left col-2 feature feature-note container-radius' %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>