<h3>Dodaj ucznia</h3>
<%= form_for :student, url: students_path do |f| %>
  <table>
    <tr>
      <td><%= f.label :firstName, "Imię:" %></td>
      <td><%= f.text_field(:firstName, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
      <td><%= f.label :lastName, "Nazwisko:" %></td>
      <td><%= f.text_field(:lastName, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
      <td><%= f.label :phone, "Numer telefonu:" %></td>
      <td><%= f.text_field(:phone, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
      <td><%= f.label :email, "Adres email:" %></td>
      <td><%= f.text_field(:email, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
      <td><%= f.label :login, "Login:" %></td>
      <td><%= f.text_field(:login, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
      <td><%= f.label :password, "Hasło:" %></td>
      <td><%= f.text_field(:password, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
      <td><%= f.label :group_id, "Klasa:" %></td>
      <td><%= f.select :group_id, options_for_select(Group.all.map {|g| [g.groupName, g.id]}) %></td>
  </table>
  <br>
  <%= f.submit({:class => 'btn btn-primary', :value => "Dodaj ucznia"}) %>
<% end %>