<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<div class="container-fluid">
  <div class="container container-radius container-shadow container-padding-small bg-light">
    <h4 class="float-left font-weight-light">Twoje oceny</h4>
    <ul class="container-header float-right">
      <li class="container-header"><h4 class="font-weight-light">Klasa: <kbd><%= @student.group.groupName %></kbd></h4>
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Przedmiot</th>
          <th scope="col">Oceny</th>
          <th scope="col">Średnia</th>
        </tr>
        </thead>
        <tbody>
        <% TeacherGroupSubject.all.where(group: @student.group).each do |s| %>
          <% avg = 0.0 %>
          <% i = 0.0 %>
          <tr>
            <td scope="row"><%= s.subject.subjectName %></td>
            <td>
              <% @student.grades.each do |g| %>
                <ul class="grade-list">
                  <% if s.subject.eql? g.subject %>
                    <li class="grade-list"><span data-toggle="tooltip" data-placement="top" title=<%= g.info %>>
                      <%= label_tag 'grade', g.grade, :class => 'badge grade grade-' + g.grade.chars.last %></span>
                    </li>
                    <% avg += Grade.gradeValues(g.grade) %>
                    <% i += 1.0 %>
                <% end end %>
              </ul>
            </td>
            <td><span class="badge badge-secondary"><%= (avg / i).round(2) %></span></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>