<h1>Stwórz grupę</h1>
<%= form_for :group, url: groups_path do |f| %>
<p>
	<%= f.label :year, "Klasa" %><br>
	<%= f.text_field(:year, {:class => 'form-control'}) %>
</p>
<p>
	<%= f.label :groupID, "Nazwa grupy" %><br>
	<%= f.text_field(:groupID, {:class => 'form-control'}) %>
</p>
<p>
	<%= f.submit({:class => 'btn btn-primary'}) %>
</p>
<% end %>