<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
<% content_for :title, "e-Dziennik - " + @subject.subjectName + " - " + @group.group.groupName %>
<div class="container-fluid">
  <div class="container container-radius container-shadow container-padding-small bg-light">
    <h4 class="float-left font-weight-light" style="margin-bottom: 26px">Przedmiot:
      <kbd class="badge-dark"><%= @subject.subjectName %></kbd></h4>
    <h4 class="float-right font-weight-light">Klasa:
      <kbd class="badge-dark"><%= @group.group.groupName %></kbd></h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Numer</th>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col" style="min-width: 200px">Oceny</th>
          <th scope="col">Średnia</th>
          <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
          <% avg = 0.0 %>
          <% i = 0 %>
          <tr>
            <td><kbd class="badge"><%= student.nr %></kbd></td>
            <td scope="row"><%= student.first_name %></td>
            <td scope="row"><%= student.last_name %></td>
            <td>
              <ul class="grade-list">
                <% student.grades.where(subject: @subject).all.each do |g| %>
                  <li class="grade-list">
                      <span data-toggle="tooltip" data-placement="top" title=<%= g.info %>>
                        <%= label_tag 'grade', g.grade, class: 'badge grade grade-' + g.grade.chars.last %>
                      </span>
                  </li>
                  <% avg += Grade.grade_values(g.grade) %>
                  <% i += 1.0 %>
                <% end %>
              </ul>
            </td>
            <td>
              <span class="badge badge-secondary"><%= ((avg / i).nan? ? "Brak ocen" : (avg / i).round(2)) %></span>
            </td>
            <td>
              <ul class="grade-list">
                <li class="grade-list">
                  <kbd class="badge badge-dark">
                    <%= link_to "Dodaj ocenę", {controller: :grades, action: :add_grade,
                                                student_id: student.id, subject_id: @subject.id},
                                {remote: true, class: 'modal-action'} %>
                  </kbd>
                </li>
                <li class="grade-list">
                  <kbd class="badge badge-dark">
                    <%= link_to "Edytuj oceny", {controller: :grades, action: :edit_grades,
                                                 student_id: student.id, subject_id: @subject.id},
                                {class: 'modal-action', method: :get} %>
                  </kbd>
                </li>
                <li class="grade-list">
                  <kbd class="badge badge-dark">
                    <%= link_to "Zobacz ucznia", student_url(student.user_id), class: 'modal-action' %>
                  </kbd>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="add_grade" tabindex="-1" role="dialog" aria-labelledby="addGradeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
